footer{
  padding: 1em;
  margin-top: 4em;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;}
.avatar{
  float: left;
  padding: 0.3em;
}
body{
  background-image: url(/images/Background/922275.png)
  
}
div {
  text-decoration-color: white
}
a{
  color: white
}
.container{
  padding: 1em;
  background-color: #212121;
  color: white
}