---
layout: default
title: Projekty
---
<div class="row">
		<h2>Moje Projekty</h2>
		
				<!--
					<h4>{{tagy}}</h4>-->
				{% for project in site.projects %}
				{% if project.tags.first == "C++" %}
				<div class="row">
					<h4>C++</h4>
						<a href="{{ project.url }}">{{project.title}}</a>	
				</div>
				{% endif %}	
				{% endfor %}
				{% for project in site.projects %}
				{% if project.tags.first == "PHP" %}
				<div class="row">
					<h4>PHP</h4>
						<a href="{{ project.url }}">{{project.title}}</a>
				</div>
				{% endif %}	
				{% endfor %}
</div>
