---
layout: default
title: Projekty
---
<div>
		<h2>Moje Projekty</h2>
		<ul>
				<!--
					<h4>{{tagy}}</h4>-->
			<li>
				<h4>C++</h4>
				<ul>
					{% for project in site.projects %}
					{% if project.tags.first == "C++" %}
					<li>	
						<a href="{{ project.url }}">{{project.title}}</a>	
					</li>
					{% endif %}	
					{% endfor %}
				</ul>
			</li>
			<li>
					<h4>PHP</h4>
					<ul>
						{% for project in site.projects %}
						{% if project.tags.first == "PHP" %}
						<li>	
								<a href="{{ project.url }}">{{project.title}}</a>	
						</li>
						{% endif %}	
						{% endfor %}
					</ul>
				</li>
		</ul>
</div>
