<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>			
		</head>
		<body>
				<nav class="navbar navbar-inverse">
						<div class="container-fluid">
						  <div class="navbar-header">
							<a class="navbar-brand" href="/">Domov</a>
						  </div>
						  <ul class="nav navbar-nav">
							<li><a href="/about">O mne</a></li>
							<li><a href="/hobbies">Záľuby</a></li>
							<li><a href="/projects">Projekty</a></li>
							<li><a href="/webpub">Webové publikovanie</a></li>
						  </ul>
						</div>
					</nav>
			<div class="container">
		
			{{ content }}
			
			</div><!-- /.container -->
			<footer class="page-footer font-small cyan darken-3">
					<!-- Footer Elements -->
					<div class="container">				
					  <!-- Grid row-->
					  <div class="row">
						<!-- Grid column -->
						<div class="col-md-12 py-5">
						  <div class="mb-5 flex-center">
							  <ul> Kontakty:
								<li>
									<p>Email : borecky1997@gmail.com </p>
								</li>
								<li>
									<a href="https://www.facebook.com/miroslav.borecky.58">Facebook</a>
								</li>
								<li>
									<a href="https://github.com/miro12325">Github</a>  
								</li>
							  </ul>
						  </div>
						</div>
						<!-- Grid column -->				
					  </div>
					  <!-- Grid row-->				
					</div>			
				  </footer>
		</body>
	</html>
